# TODO: Add versions for library
pandas
numpy
opencv-python
torch
torchvision
matplotlib
joblib
tqdm
scipy
easydict
pyntcloud   # Pix2Vox++ Reconstruction
SimpleITK   # for CAMUS dataset
# 
pyyaml
pytest
pytest-dependency
pre-commit
